@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

#inicio {
    background: rgb(157,178,191);
    background: linear-gradient(90deg, rgba(157,178,191,1) 16%, rgba(82,109,130,1) 52%, rgba(39,55,77,1) 100%);    background-position: center center;
    height: 100vh;
    /*min-width: 60vh;*/
}

.contenido-header, .redes, nav{
    height: 40px;
    background-color:#17181C;
    text-align: center;
  }

  #inicio .contenido header .contenido-header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

  .redes, nav ul{
     list-style: none;
     display: inline-block;
     padding: 8px;
     font-family: 'Rubik', sans-serif;

  }

 .redes, nav ul li{
      float: left;
      margin-top: 0px;
      
  }
.redes, nav ul li a {
      color: white;
      font-weight: bold;
      text-decoration: none;
      font-size: 20px;
      padding: 8px;
      padding-right: 15px;
      padding-left: 15px;
      font-family: 'Rubik', sans-serif;
    
  }

  nav ul li a:hover{
    background-color: #929fb3;
    transition: 1s;
  }

  .descripcion, .bienvenida, h2 {
    padding-bottom: 20px;

}  
  .presentacion {
    color: white;
    padding-top: 40vh;
    height: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #icono-nav {
    color: #fff;
    display: none;
}

#inicio .contenido header .contenido-header .redes a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}


h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    text-align: center ;

}

.descripcion {
    font-size: 20px;
    font-family: 'Rubik', sans-serif;

}

.bienvenida {
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: arial;
}

span {
    font-family: 'Rubik', sans-serif;
    color: #27374D; 
}

.ir-a-portafolio {
    text-decoration: none;
    margin: 25px;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 20px;
    transition: 1s;
    
}

.ir-a-portafolio:hover {
    background-color: #929fb3;
}


.sobreMi-a {
    color:#fff;
    position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center; 
  font-family: 'Rubik', sans-serif;
  
}

.sobreMi {
    display: flex;
}

.fotopersonal {
    height: 50vh;
    width: 35vh;
   /* border: solid 2px #17181C;
    position: relative;
    left: 50vh;
    top: 10vh;*/
    margin: 20px;
    align-items: center;
}   


@media only screen and (max-width: 740px) {

    #inicio .contenido header .contenido-header {
        height: 150px;
    }
  }

