@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');

/***********************
           NAV
***********************/
body {
    background-color: rgba(0, 0, 0, 0.090);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

#inicio {
    background-image: url(./assets/fondo-pc.jpg);
    background-color: rgba(0, 0, 0, 0.60);
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    
}

.contenido-header, .redes, nav{
    height: 40px;
    background-color:rgba(0, 0, 0, 0.400);
    text-align: center;

}

  #inicio .contenido-header {

    margin: auto;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    width: auto;
    justify-content: space-around;
    position: fixed;
    right: 0px;
    left: 0px;
}


  .redes, nav ul{
    list-style: none;
    display: inline-block;
    padding: 7px 8px;
    font-family: 'Rubik', sans-serif;

}

 .redes, nav ul li{
    float: left;
    margin-top: 0px;
      
    }
.redes, nav ul li a {

    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 0px;
    font-size: 20px;
    padding-right: 15px;
    padding-left: 15px;
    font-family: 'Rubik', sans-serif;
    }

  nav ul li a:hover{
    background-color: #929fb3;
    transition: 1s;
  }

/***********************
        Sobre mi
***********************/

  .descripcion, .bienvenida, h2 {
    padding-bottom: 20px;

}  
  .presentacion {
    color: white;
    padding-top: 40vh;
    height: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #icono-nav {
    color: #fff;
    display: none;
}

#inicio .contenido header .contenido-header .redes a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}


h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    text-align: center ;

}

.descripcion {
    font-size: 20px;
    font-family: 'Rubik', sans-serif;

}

.bienvenida {
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: arial;
}

span {
    font-family: 'Rubik', sans-serif;
    color: #fff;
    text-decoration-line: underline;
    text-decoration-color: #fff;
    
}

.ir-a-portafolio {
    text-decoration: none;
    margin: 25px;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 20px;
    transition: 1s;
    
}

.ir-a-portafolio:hover {
    background-color: #929fb3;
}


.sobreMi-frase {
    color:#fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; 
    font-family: 'Rubik', sans-serif;
  
}

/***********************
    Sobre mi con foto
***********************/

.sobreMidiv {
    justify-content: center;
    display: flex;
    margin-top: 90px;
    font-family: 'Rubik', sans-serif;

}

.fotopersonal {
    border: solid 20px rgba(0, 0, 0, 0.100);
    border-radius: 20px;
    top: 10vh;
    margin: 20px;
    max-width: 300px;
    max-height: 300px;
    margin-right: 90px;
}   


.hablandoSobreMi {
    display: flex;
    align-items: center;
    width: 460px ;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 30px;
    line-height: 25px;
}

.titulosm {
    font-family: 'Rubik', sans-serif;
    text-decoration: underline;
    margin-bottom: 20px;
    font-size: 30px;
    text-transform: uppercase;
    color: #526D82;
    line-height: 30px;
}

.descargarPortafolio {
    text-decoration: none;
    margin-top: 100px;
    border: 2px solid #27374D;
    color: #27374D;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 8px;
}

/*
@media only screen and (max-width: 740px) {

    #inicio .contenido header .contenido-header {
        height: 75px;
    }
  }

  */

